/*
============================================================
 Better Kessenzu's MyAnimeList Manga Covers
 Covers Automatically Fetched From AniList
============================================================
*/

/* "Mou.... Hatarakitakunain desu": Boukensha nanka Yameteyaru. Imasara, Taiguu wo Kaeru kara to Onegai saretemo Okotowari desu. Boku wa Zettai Hatarakimasen.
   MAL ID: 144848
*/
.data.image .link[href*="/manga/144848/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx141496-fVPDGagtdOzM.jpg") !important;
}

/* 18-sai no Himitsu
   MAL ID: 104616
*/
.data.image .link[href*="/manga/104616/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/102265-UNHsBKkk3Qah.jpg") !important;
}

/* 2 Kaime no Hajimete no Koi
   MAL ID: 24521
*/
.data.image .link[href*="/manga/24521/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/24521.jpg") !important;
}

/* 86
   MAL ID: 104039
*/
.data.image .link[href*="/manga/104039/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx98610-TIf7R1gkU0vc.jpg") !important;
}

/* Aishiteru Game wo Owarasetai
   MAL ID: 143031
*/
.data.image .link[href*="/manga/143031/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx143031-TP062dcP0V8C.jpg") !important;
}

/* Akame ga Kill!
   MAL ID: 25132
*/
.data.image .link[href*="/manga/25132/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx55132-bhKk5JoXcvdA.jpg") !important;
}

/* Araidoki.
   MAL ID: 64083
*/
.data.image .link[href*="/manga/64083/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/55772-6tlvwe7mvkFF.jpg") !important;
}

/* Bakuman.
   MAL ID: 9711
*/
.data.image .link[href*="/manga/9711/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx39711-tjPWXT1AW321.jpg") !important;
}

/* Bambi to Dhole
   MAL ID: 54663
*/
.data.image .link[href*="/manga/54663/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx84663-0iicB4pZcfbK.png") !important;
}

/* Bannou "Murazukuri" Cheat de Otegaru Slow Life: Mura desu ga Nani ka?
   MAL ID: 154394
*/
.data.image .link[href*="/manga/154394/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/b141343-SBwQrE6AdPBP.png") !important;
}

/* Batsuichi de Nakimushi na Otonarisan
   MAL ID: 146251
*/
.data.image .link[href*="/manga/146251/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx139841-EmB00EESuhKT.jpg") !important;
}

/* Black Bird
   MAL ID: 3116
*/
.data.image .link[href*="/manga/3116/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx33116-FOUhAgGvymO9.png") !important;
}

/* Black Clover
   MAL ID: 86337
*/
.data.image .link[href*="/manga/86337/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86123-Ill8uBdtvWrR.png") !important;
}

/* Blazer Drive
   MAL ID: 6612
*/
.data.image .link[href*="/manga/6612/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx36612-rwKZ6PQydnlV.jpg") !important;
}

/* Bleach
   MAL ID: 12
*/
.data.image .link[href*="/manga/12/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx30012-1epmVfTSv2rr.png") !important;
}

/* Bleach Unmasked Short Stories
   MAL ID: 26133
*/
.data.image .link[href*="/manga/26133/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/26133.jpg") !important;
}

/* Bleach: Can't Fear Your Own World
   MAL ID: 106602
*/
.data.image .link[href*="/manga/106602/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx112709-VmCRFXVQcneJ.jpg") !important;
}

/* Bleach: The Unforgivens
   MAL ID: 23355
*/
.data.image .link[href*="/manga/23355/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/23355.jpg") !important;
}

/* Bocchan to Osawagase Maid
   MAL ID: 87473
*/
.data.image .link[href*="/manga/87473/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/94374-om1g8KxkPGKd.jpg") !important;
}

/* Bocchi na Bokura no Renai Jijou
   MAL ID: 72007
*/
.data.image .link[href*="/manga/72007/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85407-OTpftIu3OJl2.jpg") !important;
}

/* Boku no Hatsukoi wo Kimi ni Sasagu
   MAL ID: 4207
*/
.data.image .link[href*="/manga/4207/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/4207-xfRM0pk4fV8g.png") !important;
}

/* Boku no Hero Academia
   MAL ID: 75989
*/
.data.image .link[href*="/manga/75989/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85486-INqnYx8gL3eX.jpg") !important;
}

/* Bonnouji
   MAL ID: 28226
*/
.data.image .link[href*="/manga/28226/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx58226-RJMupEnHIYXs.jpg") !important;
}

/* Bye-bye Mitsubari
   MAL ID: 81259
*/
.data.image .link[href*="/manga/81259/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85971-ezYcvLxNmhM1.jpg") !important;
}

/* China Girl
   MAL ID: 20379
*/
.data.image .link[href*="/manga/20379/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx50379-MorfVJHiOCad.jpg") !important;
}

/* Chou Dokyuu Shoujo 4946
   MAL ID: 14664
*/
.data.image .link[href*="/manga/14664/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx44664-NNE2FustJiFo.jpg") !important;
}

/* Comic☆Studio
   MAL ID: 35779
*/
.data.image .link[href*="/manga/35779/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx65779-s3efsClAc2lO.jpg") !important;
}

/* D.Gray-man
   MAL ID: 24
*/
.data.image .link[href*="/manga/24/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx30024-UUUz8xxkt8pc.jpg") !important;
}

/* Dark Metro
   MAL ID: 5421
*/
.data.image .link[href*="/manga/5421/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/5421.jpg") !important;
}

/* Death March kara Hajimaru Isekai Kyousoukyoku
   MAL ID: 83021
*/
.data.image .link[href*="/manga/83021/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86511-rs2JfTIW5VhJ.png") !important;
}

/* Denpa Kyoushi
   MAL ID: 32779
*/
.data.image .link[href*="/manga/32779/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx62779-yDAWuUBBzrAx.png") !important;
}

/* Do S na Oniichan to no Atarashii Koi no Hajimekata Oshiete Kudasai!
   MAL ID: 42781
*/
.data.image .link[href*="/manga/42781/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx72781-iqCuBpjvdOUb.jpg") !important;
}

/* Doctor Elise: The Royal Lady with the Lamp
   MAL ID: 130806
*/
.data.image .link[href*="/manga/130806/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx107918-dScBgkOyp8Rv.jpg") !important;
}

/* Ever Green
   MAL ID: 30595
*/
.data.image .link[href*="/manga/30595/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx60595-KI1zziOxNyrY.jpg") !important;
}

/* Fairy Tail
   MAL ID: 598
*/
.data.image .link[href*="/manga/598/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx30598-UOCymo2vPcWe.png") !important;
}

/* Fairy Tail Zerø
   MAL ID: 69903
*/
.data.image .link[href*="/manga/69903/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85319-5isdsNM3iosw.png") !important;
}

/* Fullmetal Alchemist
   MAL ID: 25
*/
.data.image .link[href*="/manga/25/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx30025-mpPVpCKFTowt.png") !important;
}

/* Genjitsu Shugi Yuusha no Oukoku Saikenki
   MAL ID: 107795
*/
.data.image .link[href*="/manga/107795/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx98171-H2x8ZR5B4WKo.jpg") !important;
}

/* Hakamori Majo Bianca
   MAL ID: 44045
*/
.data.image .link[href*="/manga/44045/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/b74045-Gyz1OGD32Dlx.jpg") !important;
}

/* Hana-kun to Koisuru Watashi
   MAL ID: 26945
*/
.data.image .link[href*="/manga/26945/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx56945-jS7H3gc6tJu6.jpg") !important;
}

/* Happy Life Hajimaru
   MAL ID: 86887
*/
.data.image .link[href*="/manga/86887/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86059-c9ZW79bwVBvQ.jpg") !important;
}

/* Haru no Houtai Shoujo
   MAL ID: 46818
*/
.data.image .link[href*="/manga/46818/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx76818-26l5WbEEg3pa.jpg") !important;
}

/* Hataraku Maou-sama!
   MAL ID: 36723
*/
.data.image .link[href*="/manga/36723/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx66723-LU3mkXbgFVie.jpg") !important;
}

/* Hatsukoi Wazurai
   MAL ID: 54941
*/
.data.image .link[href*="/manga/54941/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx84941-PJzYWRY3M1wO.jpg") !important;
}

/* Hekikai no AiON
   MAL ID: 11156
*/
.data.image .link[href*="/manga/11156/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx41156-XwtX0Z3NbNmC.jpg") !important;
}

/* Hibi Chouchou
   MAL ID: 35719
*/
.data.image .link[href*="/manga/35719/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx65719-BZyJcAmkINTC.jpg") !important;
}

/* Hirunaka no Ryuusei
   MAL ID: 27231
*/
.data.image .link[href*="/manga/27231/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx57231-EBobSNzMi3iV.jpg") !important;
}

/* Hitorimi Haduki-san to.
   MAL ID: 51643
*/
.data.image .link[href*="/manga/51643/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx81643-CSiTiggJbYxC.jpg") !important;
}

/* Hiyokoi
   MAL ID: 17394
*/
.data.image .link[href*="/manga/17394/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx47394-VUgAXS97f5WS.jpg") !important;
}

/* Honzuki no Gekokujou: Hannelore no Kizokuin Gonensei
   MAL ID: 173328
*/
.data.image .link[href*="/manga/173328/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx173934-E8FwIoupcloW.jpg") !important;
}

/* Honzuki no Gekokujou: Shisho ni Naru Tame ni wa Shudan wo Erandeiraremasen
   MAL ID: 86119
*/
.data.image .link[href*="/manga/86119/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx87383-0pZpv5P19QsX.jpg") !important;
}

/* Horimiya
   MAL ID: 42451
*/
.data.image .link[href*="/manga/42451/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx72451-vVXtRwyttjGG.png") !important;
}

/* Hosaka-sensei no Ai no Muchi
   MAL ID: 111244
*/
.data.image .link[href*="/manga/111244/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx101202-J0c6Px8yRSOC.jpg") !important;
}

/* Imasugu Oniichan ni Imouto da tte Iitai!
   MAL ID: 61369
*/
.data.image .link[href*="/manga/61369/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85192-xDWKg9bjASOb.jpg") !important;
}

/* Iris Zero
   MAL ID: 22044
*/
.data.image .link[href*="/manga/22044/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx52044-n1BuOGMxaXVK.jpg") !important;
}

/* Isekai de Cheat Skill wo Te ni Shita Ore wa, Genjitsu Sekai wo mo Musou Suru: Level Up wa Jinsei wo Kaeta
   MAL ID: 124912
*/
.data.image .link[href*="/manga/124912/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx116062-BaBGpL8L442m.jpg") !important;
}

/* Isekai Kenja no Tensei Musou: Game no Chishiki de Isekai Saikyou
   MAL ID: 128991
*/
.data.image .link[href*="/manga/128991/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx121204-G5KGzPjMKJcN.png") !important;
}

/* Isekai Kokka Alchimaira: Saijaku no Ou to Musou no Gunzei
   MAL ID: 143424
*/
.data.image .link[href*="/manga/143424/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx144378-651kEahDi9LZ.jpg") !important;
}

/* Isekai Tensei de Kenja ni Natte Boukensha Seikatsu: "Mahou Kairyou" de Isekai Saikyou
   MAL ID: 136763
*/
.data.image .link[href*="/manga/136763/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx128821-WVSxydCURDBJ.jpg") !important;
}

/* Kaichou wa Maid-sama!
   MAL ID: 2921
*/
.data.image .link[href*="/manga/2921/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx32921-joMcvusRyZV6.jpg") !important;
}

/* Kami nomi zo Shiru Sekai
   MAL ID: 7519
*/
.data.image .link[href*="/manga/7519/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx37519-2A9eU21x8uVG.png") !important;
}

/* Kamisama no Sonata
   MAL ID: 30055
*/
.data.image .link[href*="/manga/30055/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx60055-yDYA2cUwVqhF.jpg") !important;
}

/* Kanda-kun to Serizawa-san
   MAL ID: 109199
*/
.data.image .link[href*="/manga/109199/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx103841-LV7ozKktD1Yr.png") !important;
}

/* Kanpeki na Kanojo
   MAL ID: 21635
*/
.data.image .link[href*="/manga/21635/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx51635-eefWppzVo72V.png") !important;
}

/* Kaoru Hana wa Rin to Saku
   MAL ID: 144267
*/
.data.image .link[href*="/manga/144267/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx140475-QEGtrmdvbpOv.jpg") !important;
}

/* Karakai Jouzu no (Moto) Takagi-san
   MAL ID: 108187
*/
.data.image .link[href*="/manga/108187/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx99549-mrZIpNsPFsCm.png") !important;
}

/* Karakai Jouzu no Takagi-san
   MAL ID: 78537
*/
.data.image .link[href*="/manga/78537/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85533-lrXvNT9iH9sY.jpg") !important;
}

/* Katainaka no Ossan, Kensei ni Naru: Tada no Inaka no Kenjutsu Shihan Datta noni, Taisei shita Deshi-tachi ga Ore wo Houttekurenai Ken
   MAL ID: 145480
*/
.data.image .link[href*="/manga/145480/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx145675-DKDhWmJTzPAn.jpg") !important;
}

/* Kenshin no Succeed
   MAL ID: 54237
*/
.data.image .link[href*="/manga/54237/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/54237-yrTmEwVLLSdx.jpg") !important;
}

/* Kimi ni Happiness
   MAL ID: 42337
*/
.data.image .link[href*="/manga/42337/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx72337-zOfVdpN9z5dt.jpg") !important;
}

/* Kimi ni Koishite Ii desu ka.
   MAL ID: 49397
*/
.data.image .link[href*="/manga/49397/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx79397-MDRfQeuBckG7.jpg") !important;
}

/* Kimi no Sei
   MAL ID: 17963
*/
.data.image .link[href*="/manga/17963/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx47963-uC7QsOaMkrHy.png") !important;
}

/* Kiraboshi Ojousama no Kyuukon
   MAL ID: 154647
*/
.data.image .link[href*="/manga/154647/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx156807-jfi2DxRWy9xf.jpg") !important;
}

/* Kiss made no Kyori
   MAL ID: 24570
*/
.data.image .link[href*="/manga/24570/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx54570-SysA9c3fupH4.jpg") !important;
}

/* Kiss/Hug
   MAL ID: 5394
*/
.data.image .link[href*="/manga/5394/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/5394-r5dACM4k2uIX.png") !important;
}

/* Koe no Katachi
   MAL ID: 56805
*/
.data.image .link[href*="/manga/56805/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85135-11OOnyaqV71k.png") !important;
}

/* Koi no Kamisama
   MAL ID: 70251
*/
.data.image .link[href*="/manga/70251/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx91144-D4KyDQPWu5ZF.jpg") !important;
}

/* Koi. - Itoshii Itoshii to Iu Kokoro
   MAL ID: 48213
*/
.data.image .link[href*="/manga/48213/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/48213.jpg") !important;
}

/* Kokoro Button
   MAL ID: 18281
*/
.data.image .link[href*="/manga/18281/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx48281-MAFg3RuJWdUe.png") !important;
}

/* Kore wa Koi no Hanashi
   MAL ID: 25046
*/
.data.image .link[href*="/manga/25046/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx55046-uJD39NJEyrHs.jpg") !important;
}

/* Kuchi ga Saketemo Kimi ni wa
   MAL ID: 126801
*/
.data.image .link[href*="/manga/126801/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx118647-puV0V8OTl6VA.png") !important;
}

/* Kumo desu ga, Nani ka?
   MAL ID: 95353
*/
.data.image .link[href*="/manga/95353/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86952-ah2w3DFY2Uek.jpg") !important;
}

/* Kuro no Shoukanshi
   MAL ID: 112121
*/
.data.image .link[href*="/manga/112121/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx101746-vDy4dG4jqkJy.png") !important;
}

/* Kusuriya no Hitorigoto
   MAL ID: 86769
*/
.data.image .link[href*="/manga/86769/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx99026-5Eg650WAd9Rj.jpg") !important;
}

/* Kuzumi-kun, Kuuki Yometemasu ka?
   MAL ID: 96050
*/
.data.image .link[href*="/manga/96050/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx87468-vtjwDXqLXelT.jpg") !important;
}

/* Kyou mo Uchi de Machiawase
   MAL ID: 52219
*/
.data.image .link[href*="/manga/52219/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx82219-4jZxXSamhnke.jpg") !important;
}

/* Kyou, Koi wo Hajimemasu
   MAL ID: 4514
*/
.data.image .link[href*="/manga/4514/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx34514-QUWcy9AYayRb.png") !important;
}

/* Last Game
   MAL ID: 30315
*/
.data.image .link[href*="/manga/30315/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx60315-eE0nNEZpmi2e.jpg") !important;
}

/* Last One
   MAL ID: 104801
*/
.data.image .link[href*="/manga/104801/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx102893-zZs0TIur7ZPw.png") !important;
}

/* Love Roma
   MAL ID: 413
*/
.data.image .link[href*="/manga/413/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx30413-1hvcNksWPkj1.png") !important;
}

/* Love So Life
   MAL ID: 14236
*/
.data.image .link[href*="/manga/14236/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx44236-MaTi4D6Pc6kh.jpg") !important;
}

/* Made in Abyss
   MAL ID: 91941
*/
.data.image .link[href*="/manga/91941/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86551-0EzmsMZiPSu9.jpg") !important;
}

/* Magan to Dangan wo Tsukatte Isekai wo Buchinuku!
   MAL ID: 123425
*/
.data.image .link[href*="/manga/123425/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx108675-R4Rr4p5h3MEi.jpg") !important;
}

/* Magnet na Watashitachi
   MAL ID: 50967
*/
.data.image .link[href*="/manga/50967/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx80967-BzYyk2n8cHCB.jpg") !important;
}

/* Mahoutsukai (♂) to Deshi (♀) no Futekisetsu na Kankei
   MAL ID: 13922
*/
.data.image .link[href*="/manga/13922/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/13922.jpg") !important;
}

/* Mairimashita! Iruma-kun
   MAL ID: 104241
*/
.data.image .link[href*="/manga/104241/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx99324-huvqo1tmm4pl.jpg") !important;
}

/* Maou ni Natta node, Dungeon Tsukutte Jingai Musume to Honobono suru
   MAL ID: 115200
*/
.data.image .link[href*="/manga/115200/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx106233-Tsf8vOdkCtNy.jpg") !important;
}

/* Maydare Tensei Monogatari: Kono Sekai de Ichiban Warui Majo
   MAL ID: 124139
*/
.data.image .link[href*="/manga/124139/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx115979-BHVPeVVS1fl8.jpg") !important;
}

/* Mijuku na Futari de Gozaimasu ga
   MAL ID: 113938
*/
.data.image .link[href*="/manga/113938/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx104864-l3fCiOGecE6F.jpg") !important;
}

/* Mikado no Shihou
   MAL ID: 20663
*/
.data.image .link[href*="/manga/20663/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx50663-evMyEBfXbMwb.jpg") !important;
}

/* Mikata ga Yowasugite Hojo Mahou ni Tesshiteita Kyuutei Mahoushi, Tsuihou sarete Saikyou wo Mezasu
   MAL ID: 146242
*/
.data.image .link[href*="/manga/146242/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx139976-RoGiZ5ReatiD.png") !important;
}

/* Mismarca Koukoku Monogatari
   MAL ID: 14685
*/
.data.image .link[href*="/manga/14685/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/14685.jpg") !important;
}

/* Momokuri
   MAL ID: 92594
*/
.data.image .link[href*="/manga/92594/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx86467-2xgwbM7GgY13.jpg") !important;
}

/* Monogatari Series: Final Season
   MAL ID: 44227
*/
.data.image .link[href*="/manga/44227/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx74227-mjLz68FCTTKT.jpg") !important;
}

/* Monogatari Series: First Season
   MAL ID: 14893
*/
.data.image .link[href*="/manga/14893/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx44893-aV0XRP0OfWf7.jpg") !important;
}

/* Monogatari Series: Second Season
   MAL ID: 23751
*/
.data.image .link[href*="/manga/23751/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx53751-1PHRYYsVP2cE.jpg") !important;
}

/* Motokare←Retry
   MAL ID: 88543
*/
.data.image .link[href*="/manga/88543/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx94707-efBsNvHl5kJT.jpg") !important;
}

/* Motoyuusha wa Shizuka ni Kurashitai
   MAL ID: 149590
*/
.data.image .link[href*="/manga/149590/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx145383-tbZk2lNMeVmL.jpg") !important;
}

/* Musume ja Nakute Mama ga Suki nano!?
   MAL ID: 129795
*/
.data.image .link[href*="/manga/129795/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx124676-x5xApm3n1gHZ.jpg") !important;
}

/* Namida Usagi: Seifuku no Kataomoi
   MAL ID: 18042
*/
.data.image .link[href*="/manga/18042/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/18042-PLb4Qm2LHlXh.png") !important;
}

/* Nanatsu no Taizai
   MAL ID: 44485
*/
.data.image .link[href*="/manga/44485/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx74485-mFbj0sQEcBur.jpg") !important;
}

/* Naruto
   MAL ID: 11
*/
.data.image .link[href*="/manga/11/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx30011-9yUF1dXWgDOx.jpg") !important;
}

/* Naruto Gaiden: Nanadaime Hokage to Akairo no Hanatsuzuki
   MAL ID: 87866
*/
.data.image .link[href*="/manga/87866/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86171-MqLAklSEVTI7.jpg") !important;
}

/* Nineteen, Twenty-One
   MAL ID: 25322
*/
.data.image .link[href*="/manga/25322/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx55322-8eGIKLl9eSbX.png") !important;
}

/* Nisekoi
   MAL ID: 31499
*/
.data.image .link[href*="/manga/31499/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx61499-aXInaLRa6xv5.jpg") !important;
}

/* Nishiki-kun no Nasugamama
   MAL ID: 49183
*/
.data.image .link[href*="/manga/49183/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx79183-eRae6cpz8SiS.png") !important;
}

/* Okiraku Ryoushu no Tanoshii Ryouchi Bouei
   MAL ID: 140520
*/
.data.image .link[href*="/manga/140520/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx137942-eiTIPnuEeAWV.jpg") !important;
}

/* Okujou-hime
   MAL ID: 24607
*/
.data.image .link[href*="/manga/24607/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx54607-SjTUeDfNoOmN.jpg") !important;
}

/* One Piece
   MAL ID: 13
*/
.data.image .link[href*="/manga/13/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx30013-BeslEMqiPhlk.jpg") !important;
}

/* Ookami Kodomo no Ame to Yuki
   MAL ID: 40761
*/
.data.image .link[href*="/manga/40761/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx70761-1h6FuW6NN9Dh.jpg") !important;
}

/* Ookami Lover
   MAL ID: 18528
*/
.data.image .link[href*="/manga/18528/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/18528.jpg") !important;
}

/* Ookami Shounen wa Kyou mo Uso wo Kasaneru
   MAL ID: 85802
*/
.data.image .link[href*="/manga/85802/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85887-hRhYV86pTahS.png") !important;
}

/* Ookami to Koushinryou
   MAL ID: 9115
*/
.data.image .link[href*="/manga/9115/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx39115-2uLgBuM30i1b.jpg") !important;
}

/* Orange Marmalade
   MAL ID: 54897
*/
.data.image .link[href*="/manga/54897/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx84897-hU5hMVB8ZZbl.png") !important;
}

/* Ore ga Akuma de, Aitsu ga Yome de.
   MAL ID: 32171
*/
.data.image .link[href*="/manga/32171/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/32171.jpg") !important;
}

/* Ore, Maou dakedo Baretenai yo ne?
   MAL ID: 106808
*/
.data.image .link[href*="/manga/106808/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx109448-hOVvoozc6B3O.jpg") !important;
}

/* Perfect World
   MAL ID: 83655
*/
.data.image .link[href*="/manga/83655/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx93433-m98G6v1DRvtH.png") !important;
}

/* Princess Lucia
   MAL ID: 12985
*/
.data.image .link[href*="/manga/12985/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx42985-eR4IySYRGpOI.png") !important;
}

/* Rec: Kimi ga Naita Hi
   MAL ID: 34091
*/
.data.image .link[href*="/manga/34091/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx64091-hsow3cxKuIuA.jpg") !important;
}

/* Reijou wa Mattari wo Goshomou.
   MAL ID: 120903
*/
.data.image .link[href*="/manga/120903/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx110128-yxa4AF4qUsYn.jpg") !important;
}

/* ReRe Hello
   MAL ID: 49537
*/
.data.image .link[href*="/manga/49537/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx79537-VveWLPjgWssf.png") !important;
}

/* Rettougan no Tensei Majutsushi: Shiitagerareta Motoyuusha wa Mirai no Sekai wo Yoyuu de Ikinuku
   MAL ID: 119997
*/
.data.image .link[href*="/manga/119997/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx109140-SZUAa6MeQaYp.jpg") !important;
}

/* Rosario to Vampire: Season II
   MAL ID: 3403
*/
.data.image .link[href*="/manga/3403/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx33403-3LuzOHj6nW3q.png") !important;
}

/* S-Rank Party kara Kaiko sareta "Jugushi": "Noroi no Item" shika Tsukuremasen ga, Sono Seinou wa Artifact-kyuu nari......!
   MAL ID: 146793
*/
.data.image .link[href*="/manga/146793/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx158376-jxcF6ebp7WdC.png") !important;
}

/* S-Rank Party wo Munou dato Tsuihou sareta kedo, "Kantei" to "Chiyu Mahou" de Nariagari Musou
   MAL ID: 153933
*/
.data.image .link[href*="/manga/153933/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx175287-E9ZBfwCYV4JB.jpg") !important;
}

/* Saikyou Onna Shishou-tachi ga Ikusei Houshin wo Megutte Shuraba
   MAL ID: 150693
*/
.data.image .link[href*="/manga/150693/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx143050-yMwz5VwAH7bW.jpg") !important;
}

/* Sakura no Uta: The Tear Flows Because of Tenderness.
   MAL ID: 2568
*/
.data.image .link[href*="/manga/2568/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/2568.jpg") !important;
}

/* Sankarea
   MAL ID: 18597
*/
.data.image .link[href*="/manga/18597/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx48597-LYYobBXEUav7.png") !important;
}

/* School Days
   MAL ID: 1288
*/
.data.image .link[href*="/manga/1288/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx31288-70Q71LjczISH.jpg") !important;
}

/* Seirei Gensouki
   MAL ID: 108306
*/
.data.image .link[href*="/manga/108306/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx99587-9qEEGLuEnaPx.jpg") !important;
}

/* Seishun Forget!
   MAL ID: 26404
*/
.data.image .link[href*="/manga/26404/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx56404-A6AlrVDl5PWM.png") !important;
}

/* Sekai de Ichiban Warui Majo
   MAL ID: 89247
*/
.data.image .link[href*="/manga/89247/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx99906-hGORPmEKxu7I.jpg") !important;
}

/* Sekigae Game
   MAL ID: 24645
*/
.data.image .link[href*="/manga/24645/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/24645.jpg") !important;
}

/* Sensei ni, Ageru.
   MAL ID: 21575
*/
.data.image .link[href*="/manga/21575/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx51575-zdSaTar99VQX.png") !important;
}

/* Shall we Have Dinner Tonight?
   MAL ID: 99659
*/
.data.image .link[href*="/manga/99659/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/b97412-yXkZnSx55YCH.png") !important;
}

/* Shijou Saikyou no Mahou Kenshi, F-Rank Boukensha ni Tensei suru: Kensei to Matei, Futatsu no Zense wo Motta Otoko no Eiyuutan
   MAL ID: 125609
*/
.data.image .link[href*="/manga/125609/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx113987-xRAG6Mb3JwNh.jpg") !important;
}

/* Shina Dark: Kuroki Tsuki no Ou to Souheki no Tsuki no Himegimi
   MAL ID: 4780
*/
.data.image .link[href*="/manga/4780/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx34780-q2P4f6HPf5Yh.jpg") !important;
}

/* Shinigamihime no Saikon
   MAL ID: 32817
*/
.data.image .link[href*="/manga/32817/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx62817-YJEeJ0UIXI9j.jpg") !important;
}

/* Solo Leveling
   MAL ID: 121496
*/
.data.image .link[href*="/manga/121496/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx105398-b673Vt5ZSuz3.jpg") !important;
}

/* Sorenara Isso Koi ni Nare
   MAL ID: 56659
*/
.data.image .link[href*="/manga/56659/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx88260-zjKq7abaBHdS.jpg") !important;
}

/* Soul Eater NOT!
   MAL ID: 23661
*/
.data.image .link[href*="/manga/23661/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx53661-XB6maMOCQwmn.jpg") !important;
}

/* SP x Baby
   MAL ID: 79589
*/
.data.image .link[href*="/manga/79589/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86995-Wdd4YUYAV9Uj.png") !important;
}

/* Sugar*Soldier
   MAL ID: 27757
*/
.data.image .link[href*="/manga/27757/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx57757-JIX6uhw0cfoh.jpg") !important;
}

/* Suki x Suki
   MAL ID: 98971
*/
.data.image .link[href*="/manga/98971/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx97305-gw9N6zvDgSOi.jpg") !important;
}

/* Sunadokei
   MAL ID: 1506
*/
.data.image .link[href*="/manga/1506/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx31506-rcaneDALwrqC.png") !important;
}

/* Taiyou no Ie
   MAL ID: 26736
*/
.data.image .link[href*="/manga/26736/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx56736-qYpc12PAQMxi.jpg") !important;
}

/* Taiyou no Uta
   MAL ID: 12760
*/
.data.image .link[href*="/manga/12760/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/b42760-vbST8OekQiEn.jpg") !important;
}

/* Tales of the Abyss
   MAL ID: 1756
*/
.data.image .link[href*="/manga/1756/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx31756-uluKQAG8GYHe.jpg") !important;
}

/* Tate no Yuusha no Nariagari
   MAL ID: 67615
*/
.data.image .link[href*="/manga/67615/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx85442-pIcvm2OjfTjR.jpg") !important;
}

/* Tensei shitara Ken deshita
   MAL ID: 99891
*/
.data.image .link[href*="/manga/99891/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx97466-W6l3O260srMZ.jpg") !important;
}

/* Tensei shitara Slime Datta Ken
   MAL ID: 87609
*/
.data.image .link[href*="/manga/87609/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx86399-NwbRFVh5koqc.jpg") !important;
}

/* Tensei shitara Slime Datta Ken
   MAL ID: 87610
*/
.data.image .link[href*="/manga/87610/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx86355-pGwmLqVTwwE4.jpg") !important;
}

/* The Adventures of a Demon King's Daughter
   MAL ID: 147765
*/
.data.image .link[href*="/manga/147765/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx113061-wqzELLrimvar.jpg") !important;
}

/* To LOVE-Ru
   MAL ID: 671
*/
.data.image .link[href*="/manga/671/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx30671-cwnEkatRF2oB.jpg") !important;
}

/* To LOVE-Ru Darkness
   MAL ID: 22519
*/
.data.image .link[href*="/manga/22519/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx52519-W6U86EmcSlp4.jpg") !important;
}

/* Toaru Hikuushi e no Koiuta
   MAL ID: 35155
*/
.data.image .link[href*="/manga/35155/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/35155.jpg") !important;
}

/* Toki Majutsushi no Tsuyokute New Game: Kako ni Modotte Sekai Saikyou kara Yarinaosu
   MAL ID: 155938
*/
.data.image .link[href*="/manga/155938/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx152959-1gcJHEbAIlVu.jpg") !important;
}

/* Tomo-chan wa Onnanoko!
   MAL ID: 92149
*/
.data.image .link[href*="/manga/92149/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx86300-VQWRaxoTXciF.jpg") !important;
}

/* Tonari no Atashi
   MAL ID: 13188
*/
.data.image .link[href*="/manga/13188/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/13188-BUGBcWiSNU32.png") !important;
}

/* Tonari no Kashiwagi-san
   MAL ID: 22046
*/
.data.image .link[href*="/manga/22046/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx52046-l34XbqOhMUkp.jpg") !important;
}

/* Tonari no Megane-kun.
   MAL ID: 4365
*/
.data.image .link[href*="/manga/4365/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx34365-EfHcRevG4oUb.jpg") !important;
}

/* Tondemo Skill de Isekai Hourou Meshi
   MAL ID: 105747
*/
.data.image .link[href*="/manga/105747/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx98608-n6PySBSH67H0.jpg") !important;
}

/* Toshiue Elite Onna Kishi ga Boku no Mae de dake Kawaii
   MAL ID: 123094
*/
.data.image .link[href*="/manga/123094/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx113636-GHOzFWRgmpWF.jpg") !important;
}

/* True Love
   MAL ID: 47549
*/
.data.image .link[href*="/manga/47549/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx77549-9F7TGuXddQYJ.png") !important;
}

/* Tsuki ga Michibiku Isekai Douchuu
   MAL ID: 90117
*/
.data.image .link[href*="/manga/90117/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx87225-EYFJq2QMzHkk.jpg") !important;
}

/* Uketsukejou ni Kokuhaku shitakute Guild ni Kayoitsumetara Eiyuu ni Natteta
   MAL ID: 145246
*/
.data.image .link[href*="/manga/145246/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx143265-ruBq8M7SuNWg.jpg") !important;
}

/* Usotsuki Lily
   MAL ID: 19111
*/
.data.image .link[href*="/manga/19111/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx49111-62wa0y8YZDgz.jpg") !important;
}

/* Wagahai wa Yome de Aru.
   MAL ID: 9871
*/
.data.image .link[href*="/manga/9871/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx39871-Qi3T4He1TITZ.jpg") !important;
}

/* Watashi ni xx Shinasai!
   MAL ID: 13463
*/
.data.image .link[href*="/manga/13463/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx43463-d433IofXBnVN.jpg") !important;
}

/* Who Invited You?
   MAL ID: 118575
*/
.data.image .link[href*="/manga/118575/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx97869-FKGU7yShooJp.png") !important;
}

/* Wind Breaker
   MAL ID: 133081
*/
.data.image .link[href*="/manga/133081/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx135083-TQbNFWKGJJHW.jpg") !important;
}

/* YugaMira
   MAL ID: 102519
*/
.data.image .link[href*="/manga/102519/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx102640-cR9TalptzaB8.jpg") !important;
}

/* Yuusha Party ni Kawaii Ko ga Ita node, Kokuhaku shitemita.
   MAL ID: 137779
*/
.data.image .link[href*="/manga/137779/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx131140-HPBnm2gA4gUs.jpg") !important;
}

/* Yuusha Party wo Tsuihou sareta Beast Tamer, Saikyoushu no Nekomimi Shoujo to Deau
   MAL ID: 126103
*/
.data.image .link[href*="/manga/126103/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx108115-SgICRkK3GMeb.png") !important;
}

/* Yuzumori-san
   MAL ID: 99351
*/
.data.image .link[href*="/manga/99351/"] {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx87451-Nkr5InSDfmB4.jpg") !important;
}

